/* Turn the links red */

a {color: blue;}

/* Make the name 36px font and italicized */

h1 {font-size: 36px; font-style:italic;}
h1.hello {color:purple;}

/* Make the section headers (e.g. Summary, Experience) 26px font */
h4 {font-size: 26px;}
/* Make the job descriptions (e.g. Co-Owner, A1A Car Wash) blue and 20px font */
h5 {font-size: 20px; color: blue;}
/* Put a border around the photo, set it to the right */
 img {
 	border: 5 px solid purple;
 	float: right;
 }
/* Set the font family for the whole document, and add a background image */
body {
	font-family: 'Playfair Display', arial;
	background-image: url(pattern.png);
	background-size:cover;
	background-position: center center;
	background- attachment: fixed;
}
/* Give the paragraphs and lists a 26px line height */
p, li {
	line-height: 20px;
}

/* Make the links purple when I put my mouse over it */
a:hover {color:purple;}
/* Make the content of the page "sit on top of" the background */
	div#wrapper{
	background-color:white;
	width: 960px;
	padding:20px;
	margin: 20px auto;
}
	div#header{
	background-color:white;
	width: 960px;
	padding:5px;
	margin: 10px auto;
}
/* Make it so you can see the footer and center it */
	div#footer {
	color:black;
	margin: 20px auto;
	text-align: center;
}

   	table  {
	width: auto !important;
}